<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {{!-- <link --}}
        {{!-- href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" --}}
        {{!-- rel="stylesheet"> --}}
    <title>Dotomi - Verification</title>
    <style>
        body,
        html {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ff7fd2;
            background: -webkit-radial-gradient(circle, #ff7fd2 0%, #ae147d 100%);
            background: radial-gradient(circle, #ff7fd2 0%, #ae147d 100%);
            background-attachment: fixed;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
            width: 99vw;
            height: 99vh;
        }

        section {
            background-color: white;
            max-width: 550px;
            padding: 25px;
            border-radius: 15px;
        }

        span {
            font-weight: 600;
        }

        button {
            background: linear-gradient(to right, #AE147D, #ff7fd2);
            padding: 15px;
            color: white;
            border: 0px;
            border-radius: 10px;
            font-weight: bold;
            font-size: 1em;
            cursor: pointer;
        }

        a {
            background: linear-gradient(to right, #AE147D, #ff7fd2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }

        .firstname {
            background: linear-gradient(to right, #AE147D, #ff7fd2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }

        .number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.5rem;
            /* w-10 */
            height: 2.5rem;
            /* h-10 */
            font-size: 1.5rem;
            /* text-2xl */
            font-weight: 500;
            /* font-medium */
            color: #ff7fd2;
            /* text-blue-500 */
            border: 1px solid #ff7fd2;
            /* border-blue-500 */
            border-radius: 0.375rem;
            /* rounded-md */
            margin: 5px;
        }

        .number-container {
            display: flex;
        }
    </style>
    {{!-- <script async>
        function resetPassword(app_url, token, email) {
            fetch(`${app_url}/auth/reset-password`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    token: token,
                    email: email
                })
            }).then(response => {
                if (response.ok) {
                    console.log('Email verified successfully');
                } else {
                    console.error('Email verification failed');
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        }
    </script> --}}
</head>

<body>
    <section class="">
        <header>
            <a href="#">
                <img class="" src={{logo}} alt="" width="100" height="32">
            </a>
        </header>

        <main class="">
            <h2 class="">Hi <span class="firstname">{{firstname}}</span>,</h2>

            <p class="">
                This is your verification code:
            </p>

            <div class="number-container">
                {{#each token_formatted}}
                <p class="number">{{this}}</p>
                {{/each}}
            </div>
            <p class="">
                This code will only be valid for the next 5 minutes.
                 {{!-- If the code does not work, you can use this login
                verification link: --}}
            </p>

            {{!-- <button class="" onclick="resetPassword({{app_url}}, {{token}}, {{email}})">
                Verify email
            </button> --}}

            <p class="">
                Thanks, <br>
                DOTOMI team
            </p>
        </main>


        <footer class="">
            <p class="">
                This email was sent to <a href="mailto:{{email}}" target="_blank">{{support_email}}</a>.
                {{!-- If you'd rather not receive this kind of email, you can <a href="#" class="">unsubscribe</a> or <a
                    href="#" class="">manage your email preferences</a>. --}}
            </p>

            <p class="">© {{year}} DOTOMI. All Rights Reserved.</p>
        </footer>
    </section>
</body>

</html>