<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Dotomi - Welcome</title>
    <style>
        body,
        html {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ff7fd2;
            background: -webkit-radial-gradient(circle, #ff7fd2 0%, #ae147d 100%);
            background: radial-gradient(circle, #ff7fd2 0%, #ae147d 100%);
            background-attachment: fixed;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
            width: 98vw;
        }

        section {
            background-color: white;
            max-width: 550px;
            padding: 25px;
            border-radius: 15px;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        span {
            font-weight: 600;
        }

        button {
            background: linear-gradient(to right, #AE147D, #ff7fd2);
            padding: 15px;
            color: white;
            border: 0px;
            border-radius: 10px;
            font-weight: bold;
            font-size: 1em;
            cursor: pointer;
        }

        p {
            color: rgba(0, 0, 0, 0.653);
        }

        a {
            background: linear-gradient(to right, #AE147D, #ff7fd2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }

        .svg-a {
            display: flex;
            align-items: center;
        }

        svg {
            color: #ff7fd2;
            margin-left: 5px;
            width: 1.25rem;
            /* w-5 */
            height: 1.25rem;
            /* h-5 */
        }

        hr {
            margin-top: 1.5rem;
            /* my-6 (haut) */
            margin-bottom: 1.5rem;
            /* my-6 (bas) */
            border-color: #e5e7eb;
            /* border-gray-200 */
            border-style: solid;
            /* style de bordure (assumé, car la bordure n'est pas définie uniquement par la couleur) */
            border-width: 1px;
            /* largeur de bordure (assumé) */
        }

        .firstname {
            background: linear-gradient(to right, #AE147D, #ff7fd2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }

        .number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.5rem;
            /* w-10 */
            height: 2.5rem;
            /* h-10 */
            font-size: 1.5rem;
            /* text-2xl */
            font-weight: 500;
            /* font-medium */
            color: #ff7fd2;
            /* text-blue-500 */
            border: 1px solid #ff7fd2;
            /* border-blue-500 */
            border-radius: 0.375rem;
            /* rounded-md */
            margin: 5px;
        }

        .number-container {
            display: flex;
        }
    </style>
</head>

<body>
    <section class="">
        <header>
            <a href="#">
                <img class="" src={{logo}} alt="" width="100" height="32">
            </a>
        </header>

        <main class="">
            <h2 class="">Welcome to <span class="firstname">Dotomi</span></h2>

            <p class="">
                We’re excited to welcome you to Untitled and we’re even more excited about what we’ve got planned.
                You’re already on your way to creating beautiful visual products.
                Whether you’re here for your brand, for a cause, or just for fun — welcome! If there’s anything you
                need, we’ll be here every step of the way.
            </p>

            <hr class="">

            <div>
                <div>
                    <a href="#" class="svg-a">
                        <span>DOTOMI changelog</span>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 rtl:rotate-180">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                        </svg>
                    </a>

                    <p class="">Weekly new updates and improvements to DOTOMI.</p>
                </div>

                <hr class="">

                <div>
                    <a href="#" class="svg-a">
                        <span>Follow us on Twitter</span>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 rtl:rotate-180">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                        </svg>
                    </a>

                    <p class="">Stay up-to-date with the latest announcements and jobs.</p>
                </div>

                <hr class="">

                <div>
                    <a href="#" class="svg-a">
                        <span>Why we’re building Merki UI</span>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 rtl:rotate-180">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                        </svg>
                    </a>

                    <p class="">DOTOMI is a new standard of design system and UI kit.</p>
                </div>

                <hr class="">
            </div>

            <p class="">
                Thanks for signing up. If you have any questions, send us a message <br /> at
                <a href="#" class="">hi@example.com</a>
                or on <a href="#" class="">Twitter</a>. We’d love to hear from you.<br />
                — The team
            </p>

            <button class="">
                Get started
            </button>
        </main>


        <footer class="">
            <p class="">
                This email was sent to <a href="#" class="" target="_blank">contact@example.com</a>.
                If you'd rather not receive this kind of email, you can <a href="#" class="">unsubscribe</a> or <a
                    href="#" class="">manage your email preferences</a>.
            </p>

            <p class=" ">© {{year}} DOTOMI. All Rights Reserved.</p>
        </footer>
    </section>
</body>

</html>